@import url(http://fonts.googleapis.com/css?family=Montserrat);

body {
  background-color: #81B900;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

.navbar, .navbar a {  
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #81B900;
  background: #fff;
  text-decoration: none;
}

.navbar-shadow {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 6px 0px;
}

.navbar-header {
  padding: 10px 5px 9px 5px;
}

.navbar-header > a {
  font-size: 22px;
}

.content {
  position: relative;
  margin-top: 50px;
  padding-top: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: #000;
  color: #ccc;
  padding: 10px 10px;
}

textarea {
  border-color: #fff;
  border-radius: 5px;
}

smart-textarea textarea {
  width: 100%;
  font-size: 15px;  
  height: 40%;
  padding: 5px 10px;
}

.poem-input, .poem-examples {
  padding-bottom: 10px;
}

.poem-examples button {
  width: 100%;
  margin: 2px 0px;
  text-align: left;
}

song-box .track {
  height: 60px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 6px 0px;
  margin-bottom: 15px;
}
